* {
	margin: 0px;
    font-family: 'DM Sans';
}
body {
	display: flex;
	flex-direction: column;
    gap: 48px;
    padding: 32px 327px;
	background-color: #12131a;
}
header {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
}
#settings {
    background-color: #2A2B37;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    border: none;
}
main {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
h1 {
    align-self: center;
    max-width: 550px;
    text-align: center;
    color: #F2F2F7;
    font-size: 64px;
    font-weight: 700;
}
#textarea1 {
    width: 100%;
    padding: 20px;
    resize: none;
    background-color: #2A2B37;
    color: white;
    height: 200px;
    border-radius: 10px;
    font-size: x-large;
    transition: outline 0.2s ease;
}
#textarea1:focus {
    outline: 5px solid #8A00C4;
    box-shadow: 0 0 10px #8A00C4, 0 0 20px #8A00C4, 0 0 40px #8A00C4;
}
#textarea1::placeholder {
    color: white;
}
#textarea1:hover {
    background-color: #404254;
}